<% provide(:title, @taxon.name) %>

<%= render partial: 'page_title', locals: { taxon: @taxon } %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <%= render partial: 'taxonomies', locals: { taxonomies: @taxonomies } %>
        </div>
        <%= render partial: 'sidebar' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render partial: 'filter_area' %>
        <div class="row">
          <%= render partial: 'product', collection: @products, as: :product %>            
        </div>
      </div>
    </div>
  </div>
</section>
<%= render partial: 'partners_logo' %>