<% if request.path == '/potepan/index.html' %>
  <!-- NAVBAR -->
  <nav class="navbar navbar-main navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)"><%= image_tag("logo.png") %></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="javascript:void(0)">Home</a></li>
          <li class="dropdown megaDropMenu">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Shop</a>
            <ul class="dropdown-menu row">
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>レディース</li>
                  <li><a href="product_grid_left_sidebar.html">トップス</a></li>
                  <li><a href="product_grid_left_sidebar.html">アウター</a></li>
                  <li><a href="product_grid_left_sidebar.html">ボトムス</a></li>
                  <li><a href="product_grid_left_sidebar.html">靴</a></li>
                </ul>
              </li>
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li class="listHeading">メンズ</li>
                  <li><a href="product_grid_left_sidebar.html">トップス</a></li>
                  <li><a href="product_grid_left_sidebar.html">アウター</a></li>
                  <li><a href="product_grid_left_sidebar.html">ボトムス</a></li>
                  <li><a href="product_grid_left_sidebar.html">靴</a></li>
                </ul>
              </li>
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>キッズ</li>
                  <li><a href="product_grid_left_sidebar.html">トップス</a></li>
                  <li><a href="product_grid_left_sidebar.html">アウター</a></li>
                  <li><a href="product_grid_left_sidebar.html">ボトムス</a></li>
                  <li><a href="product_grid_left_sidebar.html">靴</a></li>
                </ul>
              </li>
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>アクセサリー</li>
                  <li><a href="product_grid_left_sidebar.html">モバイルケース・アクセサリー</a></li>
                  <li><a href="product_grid_left_sidebar.html">財布・革小物</a></li>
                  <li><a href="product_grid_left_sidebar.html">腕時計</a></li>
                  <li><a href="product_grid_left_sidebar.html">帽子</a></li>
                </ul>
                <!--   <a href="#" class="menu-photo"><img src="img/menu-photo.jpg" alt="menu-img"></a> -->
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About US</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="about_us.html">About Us</a></li>
              <li><a href="privacy-policy.html">Privacy Policy</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">blog</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="blog_left_sidebar.html">Left Sidebar</a></li>
              <li><a href="blog_single_left_sidebar.html">Single Left Sidebar</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
<% else %>
  <!-- NAVBAR -->
  <nav class="navbar navbar-main navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)"><%= image_tag("logo.png") %></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index.html">Home</a></li>
          <li class="dropdown megaDropMenu active">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300"data-close-others="true" aria-expanded="false">Shop</a>
            <ul class="dropdown-menu row">
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>Products Grid View</li>
                  <li><a href="product_grid_left_sidebar.html">Products Sidebar Left</a></li>
                  <li><a href="product-grid-right-sidebar.html">Products Sidebar Right</a></li>
                  <li><a href="product-grid-3-col-filter.html">Products 3 Columns V1</a></li>
                  <li><a href="product-grid-3-col.html">Products 3 Columns V2</a></li>
                  <li><a href="product-grid-4-col.html">Products 4 Columns</a></li>
                </ul>
              </li>
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>Products List View</li>
                  <li><a href="product_list_left_sidebar.html">Products Sidebar Left</a></li>
                  <li><a href="product-list-right-sidebar.html">Products Sidebar Right</a></li>
                  <li class="listHeading">Others</li>
                  <li class="active"><a href="single_product.html">Single Product</a></li>
                  <li><a href="cart_page.html">Cart Page</a></li>
                </ul>
              </li>
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>Checkout</li>
                  <li><a href="checkout_step_1.html">Step 1 - Address</a></li>
                  <li><a href="checkout_step_2.html">Step 2 - Shipping</a></li>
                  <li><a href="checkout_step_3.html">Step 3 - Payment</a></li>
                  <li><a href="checkout_step_4.html">Step 4 - Payment</a></li>
                  <li><a href="checkout_complete.html">Order Complete</a></li>
                </ul>
              </li>
              <li class="col-sm-3 col-xs-12">
                <a href="#" class="menu-photo"><%= image_tag("img/menu-photo.jpg", :alt => "menu-img") %></a>
              </li>
            </ul>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages</a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="signup.html">Register</a></li>
                <li><a href="signup-login.html">Register or Login</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="lost-password.html">Password Recovery</a></li>
                <li><a href="privacy_policy.html">Privacy Policy</a></li>
                <li><a href="terms-and-conditions.html">Terms &amp; Conditions</a></li>
                <li><a href="404.html">404 Not Found</a></li>
                <li><a href="coming-soon.html">Coming Soon</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">blog</a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="blog_right_sidebar.html">Right Sidebar</a></li>
                <li><a href="blog_left_sidebar.html">Left Sidebar</a></li>
                <li><a href="blog-fullwidth.html">Full Width</a></li>
                <li><a href="blog-single-fullwidth.html">Single Post</a></li>
                <li><a href="blog_single_right_sidebar.html">Single Right Sidebar</a></li>
                <li><a href="blog_single_left_sidebar.html">Single Left Sidebar</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="account-dashboard.html">Dashboard</a></li>
                <li><a href="account-profile.html">Profile</a></li>
                <li><a href="account-all-orders.html">All Orders</a></li>
                <li><a href="account-single-order.html">Single Order</a></li>
                <li><a href="account-wishlist.html">Wishlist</a></li>
                <li><a href="account-address.html">Address</a></li>
              </ul>
            </li>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
<% end %>