<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- SITE TITTLE -->
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <!-- GOOGLE FONT -->
    <!-- CUSTOM CSS -->
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->  
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <%= render 'shared/shim' %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render 'shared/header' %>
      <%= yield %>
      <%= render 'shared/footer' %>
      <%= render 'shared/copyright' %>
      <%= render 'shared/login' %>
      <%= render 'shared/signup' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>